
html, body {height: 100%}
body {
  background-color: #777;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
.header {
  height: 2em;
  line-height: 2em;
  color: white;
  background: linear-gradient(10deg, darkblue, lightblue);
}
.container {
  flex-grow: 1;
  margin: .2em;
}
.footer {
  background-color: white;
  border-top: gray solid 1px;
}
@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(.4);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 0;
    transform: scale(.4);
  }
}
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  z-index: 100;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
}
.loading>div {
  background-color: yellow;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  opacity: 0;
  margin: -20% 0 0 -20%;
  animation-fill-mode: both;
  position: absolute;
}
.loading>div:nth-child(1) {
  left: 100%;
  top: 50%;
  animation: loading 1s 0s infinite;
}
.loading>div:nth-child(2) {
  left: 85.4%;
  top: 85.4%;
  animation: loading 1s .125s infinite;
}
.loading>div:nth-child(3) {
  left: 50%;
  top: 100%;
  animation: loading 1s .25s infinite;
}
.loading>div:nth-child(4) {
  left: 14.6%;
  top: 85.4%;
  animation: loading 1s .375s infinite;
}
.loading>div:nth-child(5) {
  left: 0;
  top: 50%;
  animation: loading 1s .5s infinite;
}
.loading>div:nth-child(6) {
  left: 14.6%;
  top: 14.6%;
  animation: loading 1s .625s infinite;
}
.loading>div:nth-child(7) {
  left: 50%;
  top: 0%;
  animation: loading 1s .75s infinite;
}
.loading>div:nth-child(8) {
  left: 85.4%;
  top: 14.6%;
  animation: loading 1s .875s infinite;
}
