.dt-out {
  display: flex;
  flex-direction: column;
  margin-bottom: .2em;
  position: relative;
  overflow: auto;
}
.dt-head {
  position: absolute;
  z-index: 1;
}
.dt-head caption {background-color: white}
.dt-body thead {visibility: hidden}
table.datable {
  border-spacing: 0;
  text-align: center;
  width: 100%;
}
.datable caption {
  font-weight: bold;
  padding-top: .2em;
  position: relative;
}
.datable tbody {background-color: white}
.datable thead {white-space: nowrap}
.datable tr {height: 2em}
.datable tr:nth-of-type(even) {background-color: #dfd}
.datable th {
  background-color: lightblue;
  border-width: 1px;
  border-style: solid;
  border-color: white #aaa #aaa white;
}
.datable th:first-child {border-top-left-radius: .5em}
.datable th:last-child {border-top-right-radius: .5em}
.datable th>div {display: inline-block}
.datable td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.datable-left {text-align: left}
.datable td label {display: inline-block}
.datable a, .datable button {margin: 0 .1em}
.datable button {white-space: nowrap}
.datable input[type=text], .datable input[type=email], .datable input[type=number] {
  width: 100%;
  box-sizing: border-box;
}
.datable pre {
  margin: 0;
  text-align: left;
  min-height: 2em;
  white-space: pre-wrap;
}
tr.selection {
  color: white;
  background-color: #37f !important;
}
.act {
  position: absolute;
  left: 0;
  bottom: 0;
}
div.act {
  padding: 0 .3em;
  border-radius: .3em;
  background-color: white;
}
